# Next.js env

NEXT_PUBLIC_PASSWORD_GMAIL_SMTP
NEXT_PUBLIC_MIXPANEL_TOKEN
NEXT_PUBLIC_REMEMBER_ME_ENABLED
UPSTASH_REDIS_REST_TOKEN
UPSTASH_REDIS_REST_URL
NEXT_PUBLIC_TRACK_TYPE
NEXT_PUBLIC_SEND_MAIL
NEXT_PUBLIC_APP_URL
NEXT_PUBLIC_TRACK_CLIENT_ID_SANDBOX
NEXT_PUBLIC_TRACK_CLIENT_SECRET_SANDBOX
TRACKDECHETS_URL_APP
NEXT_PUBLIC_TRACK_CLIENT_ID_APP
NEXT_PUBLIC_TRACK_CLIENT_SECRET_APP
NEXT_PUBLIC_FLEAP_SIRET
NGROK_URL
TRACKDECHETS_TOKEN_SANDBOX
TRACKDECHETS_URL_SANDBOX
NEXT_PUBLIC_SERVER_PYTHON
NEXT_PUBLIC_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_KEY
NEXT_PUBLIC_TRACKDECHETS_CLIENT_ID
TRACKDECHETS_CLIENT_ID
TRACKDECHETS_CLIENT_SECRET

# Python env

GEMINI_API_KEY
MINDEE_API_KEY
NEXT_PUBLIC_SUPABASE_KEY
NEXT_PUBLIC_SUPABASE_URL
PORT