#fastapi
#uvicorn[standard]
#paddleocr
#paddlepaddle==2.5.2
#pandas
#python-dotenv
#python-multipart==0.0.12

fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
python-dotenv==1.0.1
requests==2.31.0
pdfplumber==0.10.3
pydantic==2.6.1
mindee==3.12.0